/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/result/*
/vendor/
Gemfile.lock
/node_modules
/sorbet/
/bin/tapioca
/.serena/
/.vscode/
/benchmark/
/csv/master/*/.cache/
/_refs/
/_trashbox/

